@{
}

@model BooksViewModel

<h1>Amazon Books</h1>

@foreach (Book b in Model.Books)
{
    <h3>@b.Title</h3>

    <ul>
        <li>Author: @b.Author</li>
        <li>Publisher: @b.Publisher</li>
        <li>ISBN: @b.Isbn</li>
        <li>Classification: @b.Classification</li>
        <li>Category: @b.Category</li>
        <li>Number of Pages: @b.PageCount</li>
        <li>Price: @b.Price</li>
    </ul>
}

<div page-info="@Model.PageInfo" page-action="Index" page-classes-enabled="true" page-class="btn"></div>